$primary1: hsl(335, 80%, 8%);
$primary2: hsl(335, 70%, 20%);
$primary3: hsl(335, 65%, 30%);
$primary4: hsl(335, 60%, 40%);
$primary5: hsl(335, 45%, 50%);
$primary6: hsl(335, 50%, 70%);
$primary7: hsl(335, 70%, 80%);
$primary8: hsl(335, 80%, 90%);
$primary9: hsl(335, 80%, 95%);
