/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Mr+Dafoe|Niramit:200,400,700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.login {
  grid-column: 2 / span 3;
  grid-row: 3;
  display: flex;
  flex-flow: column;
  align-items: center; }
  .login form {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: #b94676;
    box-shadow: 2px 2px 5px #570f2d;
    width: 80%;
    height: 70%; }
    .login form label {
      padding-bottom: 1rem;
      font-family: "Niramit", sans-serif;
      font-weight: 700;
      font-size: 4.1472rem; }
      .login form label {
        font-size: 27.648px; }
        @media screen and (min-width: 320px) {
          .login form label {
            font-size: calc(27.648px + 26.352 * ((100vw - 320px) / 880)); } }
        @media screen and (min-width: 1200px) {
          .login form label {
            font-size: 54px; } }
    .login form input {
      text-align: center;
      font-family: "Niramit", sans-serif;
      border: none;
      border-radius: 10em;
      box-shadow: 2px 2px 5px #570f2d;
      height: 4vh;
      width: 30vh;
      margin-bottom: 1rem; }
      .login form input {
        font-size: 16px; }
        @media screen and (min-width: 320px) {
          .login form input {
            font-size: calc(16px + 8 * ((100vw - 320px) / 880)); } }
        @media screen and (min-width: 1200px) {
          .login form input {
            font-size: 24px; } }
      .login form input.button {
        text-align: center;
        width: 25%; }
        .login form input.button:hover {
          background-color: #fad1e2; }
        .login form input.button:active {
          background-color: #d98cac; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: span 3;
  background-color: #b94676; }
  .header h1 {
    font-family: "Mr Dafoe", cursive;
    grid-column: 2;
    padding-left: 7vw; }
    .header h1 {
      font-size: 33.1776px; }
      @media screen and (min-width: 320px) {
        .header h1 {
          font-size: calc(33.1776px + 47.8224 * ((100vw - 320px) / 880)); } }
      @media screen and (min-width: 1200px) {
        .header h1 {
          font-size: 81px; } }
  .header nav {
    padding-right: 7vw; }
    .header nav a {
      color: #250412;
      text-decoration: none; }

nav {
  display: grid;
  grid-column: span 2;
  align-items: center;
  justify-items: end;
  background-color: #b94676; }
  nav a {
    text-decoration: none;
    color: #250412;
    align-self: center;
    justify-self: center; }

sidebar {
  grid-column: 3 / span 3;
  grid-row: span 3;
  z-index: 1; }

.App {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 10vw auto 10vw 20vw 10vw;
  grid-template-rows: 15vw 20vw auto; }
  .App {
    font-size: 16px; }
    @media screen and (min-width: 320px) {
      .App {
        font-size: calc(16px + 8 * ((100vw - 320px) / 880)); } }
    @media screen and (min-width: 1200px) {
      .App {
        font-size: 24px; } }

/*# sourceMappingURL=app.css.map */
